h1,
p {
  font-family: Lato;
}

body {
  margin: 0px !important;
}

.bg-dark {
  opacity: 1;
  background-color: rgb(95 96 96) !important;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.display-flex {
  display: flex;
}

.align-items {
  align-items: flex-start;
}

.container,
.container-fluid {
  padding: 15px 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 40px;
}

.nav-link {
  display: flex;
  padding: 10px 0px;
  color: #0d6efd;
  text-decoration: none;
  display: inline-block;
  margin-left: 50px;
  padding-top: 10px;
  font-weight: 700 !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.margin-left-auto {
  margin-left: auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: #cdcccc;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}

nav a:hover {
  color: #f0f0f0;
  text-decoration: underline;
  text-decoration-color: #08da66;
  text-decoration-thickness: 10px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33% !important;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.logo {
  margin-left: 115px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.bg-grey {
  background-color: lightgrey;
}

.py-20 {
  padding: 20px 0px;
}

.px-10 {
  padding: 0px 10px;
}

form,
.contect-Header {
  color: #555;
  display: flex;
  margin-left: 120px;
  margin-bottom: 0px;
}

input[type='search'] {
  border: none;
  background: #fff;
  margin: 5px 0px;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 0px solid transparent;
  border-bottom-left-radius: 3px;
  width: 750px;
  border-top-left-radius: 3px;
  height: 43px;
}

button[type='submit'] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 5px 0;
  border: 0px solid transparent;
  border-top-right-radius: 3px;
  background: #fff
    url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/search.png)
    no-repeat center;
  cursor: pointer;
  border-bottom-right-radius: 3px;
}

input::-webkit-input-placeholder,
.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-28 {
  font-size: 28px;
}

.font-24 {
  font-size: 24px;
}

.font-34 {
  font-size: 34px;
}
.event-section-title {
  font-size: 34px;
  font-weight: bolder;
}

.font-bold {
  font-weight: bolder;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  margin: 0px 30px 0px 0px;
}

.card-body {
  flex: 1 1 auto;
  padding: 20px 20px;
}

.card-title {
  margin-bottom: 5px;
  height: 70px;
  font-size: 28px;
  font-weight: bolder;
}

.card-text-avail,
.card-text-date {
  font-size: 24px;
}

.card-text {
  display: flex;
  justify-content: space-between;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-img {
  width: 100%;
}

.font-orange {
  color: rgb(250, 125, 8);
}

.width-90 {
  width: 90%;
}

.btn-soldout .soldout_icon {
  background: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/sold-out.png)
    no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  left: 149px;
  position: absolute;
  margin-top: 5px;
}

.btn-available .available_icon {
  background: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/book.png)
    no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  left: 149px;
  position: absolute;
  margin-top: 5px;
}

.btn-soldout {
  background-color: transparent;
  border: 2px solid darkgrey;
  color: grey;
  padding: 12px 16px;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
}

.btn-available {
  background-color: transparent;
  border: 2px solid rgb(250, 125, 8);
  color: rgb(250, 125, 8);
  padding: 12px 16px;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 767px) {
  .logo {
    width: 150px;
    height: 20px;
  }

  .logo-img {
    width: 150px;
  }

  .nav-link {
    display: none;
  }

  .menu-nav-link {
    background: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/hamburger.png)
      20px 3px no-repeat;
    width: 45px;
    height: 25px;
    display: block;
  }

  form,
  .contect-Header {
    color: #555;
    display: flex;
    margin-left: 35px;
    margin-bottom: 0px;
  }

  input[type='search'] {
    border: none;
    background: #fff;
    margin: 5px 0px;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 0px solid transparent;
    border-bottom-left-radius: 3px;
    width: 300px;
    border-top-left-radius: 3px;
    height: 43px;
  }

  input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 8;
  }

  .logo {
    margin-left: 15px;
  }

  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33% !important;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100% !important;
  }

  .card {
    flex-direction: inherit;
  }

  .card-img {
    width: 120px;
    height: 120px;
    margin-top: 21px;
    display: none;
  }

  .card-text {
    display: block;
  }

  .btn-soldout {
    display: none;
  }

  .btn-available {
    display: none;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 10px 10px;
  }

  .card-title {
    margin-bottom: 5px;
    height: 25px;
    width: 76%;
    font-size: 18px;
  }

  .card-text-avail,
  .card-text-date {
    font-size: 16px;
  }

  .event-section-title {
    font-size: 20px;
    font-weight: bolder;
  }

  .soldout_icon {
    background: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/sold-out.png)
      no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 45px;
  }

  .available_icon {
    background: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/book.png)
      no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 45px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logo {
    width: 150px;
    height: 30px;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 20px;
  }

  .nav-link {
    display: none;
  }

  .menu-nav-link {
    background: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/hamburger.png)
      10px 15px no-repeat;
    width: 40px;
    height: 40px;
    display: block;
  }

  form,
  .contect-Header {
    color: #555;
    display: flex;
    margin-left: 40px;
    margin-bottom: 0px;
  }

  .logo {
    margin-left: 15px;
  }

  input[type='search'] {
    border: none;
    background: #fff;
    margin: 5px 0px;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border-bottom-left-radius: 3px;
    width: 650px;
    border-top-left-radius: 3px;
    height: 43px;
  }

  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33% !important;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100% !important;
  }

  .card {
    flex-direction: inherit;
    margin: 0px 30px 15px 0px;
  }

  .card-img {
    width: 120px;
    height: 120px;
    margin-top: 21px;
    margin-left: 21px;
    border-radius: 5px;
  }

  .card-text {
    display: block;
  }

  .btn-soldout {
    display: none;
  }

  .btn-available {
    display: none;
  }

  .card-title {
    margin-bottom: 5px;
    height: auto;
    font-size: 23px;
    font-family: sans-serif;
  }

  .card-text-avail,
  .card-text-date {
    font-size: 20px;
    font-family: sans-serif;
  }

  .event-section-title {
    font-size: 28px;
    font-weight: bolder;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 16px 16px;
  }

  .soldout_icon {
    background: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/sold-out.png)
      no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 40px;
  }

  .available_icon {
    background: url(https://alvimurtaza.github.io/Interview-Front-end/images/l3-l4-engineer/book.png)
      no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 45px;
  }
}
